.Header {
  display: flex;
  /* border-bottom: 1px solid #333; */
  box-shadow: 2px 2px 5px #777;
}

.Header > div {
  margin: 10px 30px;
}

.Header a,
.Header a:visited {
  text-decoration: none;
  color: #333;
}

.Header a:hover {
  color: hotpink;
  text-decoration: underline;
}
