.cardsTable {
  border-collapse: collapse;
}

.cardsTable i {
  cursor: pointer;
}

table,
th,
td {
  background-color: thistle;
}

td {
  padding: 10px;
}
th {
  text-align: left;
  padding: 10px;
}
